.header-container {
  height: 10vh;
  width: 100%;
  background-color: #0d2436;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-family: Roboto;
  font-size: 25px;
}

.nav-items {
  width: 250px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 18px;
}

.home-sm-btn {
  display: none;
}

span {
  background-color: red;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav-items {
    width: 180px;
  }

  .home-btn {
    display: none;
  }

  .home-sm-btn {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
  }
}
